'menu': [ {
  'label': 'Packages'
  'submenu': [ {
    'label': 'Turtle'
    'submenu': [
      {
        'label': 'Build file'
        'command': 'atom-turtle:build'
      }
      {
        'label': 'Preview output'
        'command': 'atom-turtle:preview'
      }
      {
        'label': 'Clean auxillary files'
        'command': 'atom-turtle:clean'
      }
      {
        'label': 'Kill compiler'
        'command': 'atom-latex:kill'
      }
    ]
  } ]
} ]
